body {
    padding: 100px;
  }

  .cube {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 5s linear infinite;
  }

  .face {
    display: flex;
    justify-self: center;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 255, 0.7);
    border: 1px solid #000;
  }

  .front {
    transform: rotateY(0deg) translateZ(100px);
  }
  .back {
    transform: rotateY(180deg) translateZ(100px);
  }
  .left {
    transform: rotateY(-90deg) translateZ(100px);
  }
  .right {
    transform: rotateY(90deg) translateZ(100px);
  }
  .top {
    transform: rotateX(90deg) translateZ(100px);
  }
  .bottom {
    transform: rotateX(-90deg) translateZ(100px);
  }

  @keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }